p
{
   width: 350px;
   border: 1px solid black;
   text-align: justify;
   padding: 12px;
   margin: 50px; /* Marge extérieure de 50px */
}
p
{
    width: 50%;
}
p
{
    width: 250px;
    height: 110px;
    text-align: justify;
    border: 1px solid black;
    overflow: auto;
}
h1
{
    color: red;
}
}
h2
{
    color: red;
}
body
{
    background-image: url("img/logo.png");
    background-attachment: fixed; /* Le fond restera fixe */
    background-repeat: no-repeat; /* Le fond ne sera pas répété */
    background-position: top right; /* Le fond sera placé en haut à droite */
}
h2
{
    color: red;
}
p
{
    width: 250px;
    height: 110px;
    text-align: justify;
    border: 1px solid black;
    overflow: auto;
}
#menu
{
	border-right:1px solid black;
	background:white;
	height: 100%;
	position:fixed;
	width:200px;
	top:60px;
	left:0px;
	
}
#menu>a
{
		display:block;

}


#header
{
	border-bottom:1px solid black;
	background:white;
	height:60px;
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	z-index:2
}

#content
{
	background:white;
	position:absolute;
	left:220px;
	top:60px;
	right:0px;
	z-index:1

}
