p{
    visibility: hidden;
}

.bloc_body {
    margin:0;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
}

.a_ct {
    text-decoration:none;
    color:black;
}

.bloc_shop_logo,.bloc_operation,.bloc_shop_name,.bloc_shop_address,.bloc_product_name,.bloc_product_img,.bloc_pastille_img,.bloc_price,.bloc_cta,.bloc_pnns,.bloc_product_validity,.bloc_cta_content,.bloc_ens{
    position:absolute;
    width: 95%;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.operation_name,.period,.shop_logo,.shop_name,.shop_address,.product_name,.pastille_img,.cta_content,.pnns,.product_validity,.product_img,.price_final,.price_all {
    margin:auto;
    text-align: center;
}

.banner {
    position:relative;
    border: 1px solid black;
    background-color:white;
}

.bloc_bg_header {
    position: absolute;
    z-index: 0;
    background-image:url("https://cdn.acotedemoi.com/monoprix/0-config/bg_header/bg_header.jpg");
    background-size:cover;
}

.banner {
    width: 298px;
    height: 598px;
}

.bloc_bg_header {
    width: 298px;
    height: 120px;
}

.bloc_shop_logo {
    width: 206px;
    height: 64px;
    top: 5px;
    left: 47px;
    z-index: 1;
}

.shop_logo {
    max-width: 206px;
    max-height: 64px;
}

.bloc_operation {
    top:120px;
    height:31px;
    width: 100%;
    background-color:  #fd323d;
}

.operation_name {
    display: none;
}

.bloc_period {
    width: 100%;
    height: 29px;
    display: flex;
}

.period {
    font-size:15px;
    font-weight:bold;
    color:#ffffff;
    text-transform:uppercase;
    padding: 0 2px;
}

.bloc_shop_name{
    top:68px;
    height:20px;
    position: absolute;
    width: 294px;
    z-index: 1;
    left: 2px;
}

.shop_name{
    font-size:14px;
    font-weight:bold;
    color:#000000;
    text-transform: uppercase;
}

.bloc_shop_address{
    top:92px;
    height:25px;
    width: 298px;
    z-index: 1;
}

.shop_address{
    font-size:12px;
    color:#000000;
    top:0;
    line-height: 12px;
}

.bloc_cta{
    width: 152px;
    height: 39px;
    background-color:#fd323d;
    top: 534px;
    left: 74px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    z-index: 10;
    justify-content: center;
}

.bloc_cta_content{
    height: 60%;
    width: 95%;
    position: relative;
}

.cta_content{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
.bloc_ens{
    width: 298px;
    height: 447px;
    background-image:url("image_320x450.jpg");
    top: 151px;
    z-index: 0;
    background-position: center;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    /* CSS pour IE versions 10, 11 et Edge */
    .bloc_period{
        align-items: center;
    }
}
